.weather-card {
    width: 300px;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
}

.night {
    background-color: #333;
}

.day {
    background-color: #0074D9;
}