.note-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 200px;
    background-color: #d0e768;
}

.note-footer {
    align-self: flex-end;
}

.delete-btn {
    color: white;
    background-color: #ec4e4e;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #e96969;
}

.edit-btn {
    color: white;
    background-color: #7fee69;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #8fe97d;
}
